<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/home">Cinema | </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active me-5" [style]="{'width': '100%'}" aria-current="page" href="/home">Trang chủ</a>
        </li>
        <li class="nav-item" *ngIf="user === 'admin'">
          <a class="nav-link active me-5" [style]="{'width': '100%'}" aria-current="page" href="/movie-manager">Quản lý</a>
        </li>
          <input
          class="form-control me-2"
          type="text"
          [(ngModel)]="keyword"
          (ngModelChange)="filterFilmShowing()"
          *ngIf="isShowing"
        />
        <input
        class="form-control me-2"
          type="text"
          [(ngModel)]="keyword"
          (ngModelChange)="filterFilmCommingSoon()"
          *ngIf="!isShowing"
        />
        
      </ul>
      <button type="button" class="btn btn-danger" (click)="logout()">
        Đăng xuất
      </button>
    </div>
  </div>
</nav>

<!-- list movie -->
<div class="list-movie-component container-fluid mt-5">
  <div class="option-show">
    <div class="d-flex flex-row" [style]="{'gap':'20px'}">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="handleChangeShow(true)"
      >
        Phim đang chiếu
      </button>
      <div class="vertical bg-secondary"></div>
      <button
        type="button"
        class="btn btn-outline-secondary ml-2"
        (click)="handleChangeShow(false)"
      >
        Phim sắp chiếu
      </button>
    </div>
   
  </div>
  <div class="container-fluid mt-5">
    <div class="row" *ngIf="isShowing">
        <app-movie class="col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let movie of movieShowing" [movie]="movie"></app-movie>
    </div>
    <div class="row" *ngIf="!isShowing">
      <app-movie class="col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let movie of movieCommingSoon" [movie]="movie"></app-movie>
  </div>
  </div>
</div>


<style>
  * {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
  }

  .list-movie {
    /* margin-top: 30px;
    display: flex;
    flex-wrap: wrap; */
    gap: 10px;
  }
  .option-show {
    display: flex;
    justify-content: space-between;
  }
  .vertical {
    width: 1px;
    height: 100%;
  }
</style>
