<form class="container mt-5">
    <h1>Login</h1>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input
      type="text"
      name="username"
      class="form-control"
      id="username"
      #username
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      id="password"
      #password
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    (click)="login(username.value, password.value)"
  >
    Submit
  </button>
</form>

<div class="alert alert-danger container mt-3" role="alert" *ngIf="message">
  {{ message }}
</div>
