
<div class="movie-card card mt-3" (click)="handleClickDetail()">
  <div class="movie-img mt-2">
    <img [src]="movie.imageLandscape" alt="" >
  </div>
    <div class="movie-desc card-body">
      <p class="movie-name card-text">{{ movie.name }}</p>
    </div>
  </div>


<style>
   .movie-card {
        cursor: pointer;
   }
   .movie-img {
       display: flex;
       justify-content: center;
   }
   .movie-img img{
        width: 300px;
        
    }
    .movie-desc {
        display: flex;
        justify-content: center;
    }
    .movie-name {
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #43464b;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0 10px;
    }
</style>